@import "../../partials/variables";

.login-box {
  background: white;
  height: 25em;
  width: 25em;
  padding: 0 2em 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5em;
  text-align: center;
  box-shadow: 15px 15px 5px rgba($color: #000000, $alpha: 0.3);

  h1 {
    position: relative;
    top: 0.5em;
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    display: block;
  }

  label {
    position: relative;
    top: 3em;
    display: block;
    float: left;
  }
  input {
    position: relative;
    top: 4em;
    width: 100%;
    height: 2.5em;
    outline: none;
    border: none;
    border-bottom: 2px solid;
    border-color: rgb(70, 32, 241);
    padding: 0 0.1em;
    text-align: left !important;
    font-weight: 100 !important;
    transition: 0.3s ease-in;
    cursor: text;

    &:focus {
      border-bottom: 2px solid;
      border-color: rgb(70, 32, 241);
    }
  }

  .label-2 {
    position: relative;
    top: 4.5em;
    float: left;
  }

  .input-2 {
    position: relative;
    top: 6em;
    text-align: center;
    transition: 0.3s;
    float: left;
    outline: none;

    &:focus {
      border-bottom: 2px solid;
      border-color: rgb(70, 32, 241);
    }
  }

  .login-cta {
    position: relative;
    top: 10em;
    width: 50%;
    height: 3em;
    border: none;
    border-radius: 3em;
    cursor: pointer;
    background: rgb(70, 32, 241);
    color: white;
    font-family: "Poppins", sans-serif;
    transition: 0.2s ease-in;

    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1);
    }
  }

  .registers {
    position: relative;
    top: 1em;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
  }

  a {
    color: rgb(70, 32, 241);

    &:hover {
      color: rgb(70, 32, 241);
    }
  }
}

@media all and (max-width: 700px) {
  .login-box {
    width: 22.5em;
    box-shadow: none;
  }
}
